[submodule "themes/reveal-hugo"]
	path = .slidesData/themes/reveal-hugo
	url = git@github.com:dzello/reveal-hugo.git
[submodule ".slidesData/static/reveal-js/plugin/reveal-embed-video"]
	path = .slidesData/static/reveal-js/plugin/reveal-embed-video
	url = https://github.com/featherbear/reveal-embed-video
